.ansible
.cache
.config/**/roles
.diagnostics
.env
!.env.devsecops
!.env.dev
!.env.dist
.mega-linter.yml
.task
.vscode
*.log
*.rej
*.tar
*.tar.gz
*.tgz
*.zip
**/_output
**/node_modules
**/screenshots/diff
*megalinter*.txt
/*.sh
megalinter-reports
project/public/helm/index.yaml
tmp
venv
