---
# Path: .config/devsecops/.copier-answers.yml.jinja
# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
{{ _copier_answers|to_yaml(default_flow_style=None) -}}
install_scope: {{ install_scope }}
