---
commitizen:
  bump_message: "build: bump version $current_version \u2192 $new_version"
  name: cz_conventional_commits
  tag_format: $version
  update_changelog_on_bump: false
  changelog_file: ../../CHANGELOG.md
  version: 0.1.0
  version_files:
    - VERSION
  version_provider: commitizen
  version_scheme: semver2
