---
# Defines project-specific runner tags. Extend this in jobs with "extends: .default-tags".
# Keep it empty if you want no enforced tags.
.default-tags:
  tags:
{% if ci_platform == 'gitlab_saas' %}
    - saas-linux-medium-amd64
{% endif %}
